<ion-view view-title="위치정보">
  <ion-content class="padding">
    <h2>위치</h2>
		<!-- <div id="map" style="width:500px;height:400px;"></div> -->
		
		<div class="card">
			<div class="item item-divider">
				Get My Current Location
			</div>
			<div class="item">
				<strong>Longitude </strong> &nbsp {{position.coords.longitude}}
			</div>
			<div class="item">

				<strong>Latitude </strong> &nbsp {{position.coords.latitude}}
			</div>
			<div class="item" ng-show="errorMsg">
				<p>{{errorMsg}}</p>
			</div>
		</div>

		<div class="padding">
			<button class="button button-block button-positive" ng-click="getLocation()">
				Get My Location
			</button>

		</div>
		
  </ion-content>
</ion-view>
