<ion-view view-title="위치정보">
  <ion-content class="padding">
    <h2>위치</h2>
    <p></p>
		<!-- <div id="map" style="width:500px;height:400px;"></div> -->
		
		<div class="card" data-ng-init="getLocation()">
			<div class="item item-divider">
				현재 위치정보
			</div>
			<div class="item">
				<strong>Longitude(위도) </strong> &nbsp {{position.coords.longitude}}
			</div>
			<div class="item">

				<strong>Latitude(경도) </strong> &nbsp {{position.coords.latitude}}
			</div>
			<div class="item" ng-show="errorMsg">
				<p>{{errorMsg}}</p>
			</div>
		</div>

<!-- 		<div class="padding">
			<button class="button button-block button-positive" ng-click="getLocation()">
				현재 위치탐색
			</button>

		</div> -->
		
  </ion-content>
</ion-view>
