<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- 심박 상태 Tab -->
  <ion-tab title="심박 상태" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/pulse">
    <ion-nav-view name="tab-pulse"></ion-nav-view>
  </ion-tab>

  <!-- 위치, 지도 Tab -->
  <ion-tab title="위치" icon-off="ion-ios-location-outline" icon-on="ion-ios-location" href="#/tab/gps">
    <ion-nav-view name="tab-gps"></ion-nav-view>
  </ion-tab>

  <!-- 설정 Tab -->
  <ion-tab title="설정" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
